@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');
@import url('https://fonts.googleapis.com/css?family=Sacramento');



body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html{
  width: 100%;
}


body {
  color: rgb(27, 27, 27);
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
  background-color: rgb(255, 237, 233);;
  
}

h1 {
  font-family: Sacramento, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 120px;
  color: rgb(54, 39, 39);
  
}


h2{
  font-family: Work Sans, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-decoration: underline 1px;
  border-bottom: 1px solid rgb(63, 48, 48);
}


p {
  margin: 0;
}


.button {
  width: 100%;
  color: #fff;
  border: none;
}


/*---------My code--------*/

@media (max-width: 819px) {

  #aboutSection{
    display: grid;
   
    justify-items: center;
  }
  
  .containerAbout h2{
   align-self: center;

  }
  
  .containerAbout{
    display: grid;
    padding: 0 20%;
    
  }
  
  .imageEster{
    justify-self: flex-end;
    margin: 0 20px;
  }
  
  .containerAbout p{
    margin: 10px;
    padding: 25px;
  }

  .containerAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 10%;
    
  }

  .imageEster{
    display:flex;
    justify-content: center;
    margin: 20px 0;
  }


  nav li{
    margin: 0 10px;
    letter-spacing: 1px;
  }

  #newInterestsSection{
    display: grid;
    grid-auto-rows: 20% 80%;
    justify-items: center;
  
  }
  
  #newInterestsSection h2{
    grid-row: 1/2;
  }


  .interestsContainer{
    display: grid;
    justify-items: center;
    align-items: center;
    background-size: cover;
    grid-row: 2/3;
    grid-auto-rows: 25% 25% 25% 25%;
  }
  
  .interestsContainer button{
    height: 150px;
    width: 300px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
  }
  
  
  #interest1{
   
    background-color: white;
    grid-row: 1/2;
    background-image: url("img/pattern1.png");
    background-size: cover;
    
  }
  
  #interest2{
    
    background-color: white;
    grid-row: 2/3;
    background-image: url("img/pattern2.png");
    background-size: cover;
    
  }
  
  #interest3{
   
    background-color: white;
    grid-row: 3/4;
    background-image: url("img/pattern3.png");
    background-size: cover;
  }
  
  #interest4{
   
    background-color: white;
    grid-row: 4/5;
    background-image: url("img/pattern4.png");
    background-size: cover;
  }



  textarea{
    width: 250px;
    max-width: 250px;
    height:200px;
    max-height: 200px;
   
  }

  #contactSection{
    
    padding: 0 5%;
    margin: 0;
    
  }


}


@media (min-width: 820px) {
  #aboutSection{
    display: grid;
    justify-items: center;
  }
  
  .containerAbout h2{
    grid-row: 1/2;
    padding: 0;
   
  }
  
  .containerAbout{
    display: grid;
    grid-auto-columns: 50% 50%;
    padding: 0 20%;
    grid-row: 2/3;
    
  }
  
  .imageEster{
    grid-column: 1/2;
    justify-self: flex-end;
    margin: 0 20px;
  }
  
  .containerAbout p{
    grid-column: 2/2;
    padding: 25px;
  }



  nav li{
    margin: 0 10px;
    letter-spacing: 2px;
  }

  #interestsSection{
    padding: 30px 10%;
    display: flex;
    flex-direction: row;
   
  }

  #newInterestsSection{
    display: grid;
    justify-items: center;
  
  }
  
  #newInterestsSection h2{
    grid-row: 1/2;
    
  
  }
  
  .interestsContainer{
    height: 500px;
    width: 500px;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    background-size: cover;
    grid-row: 2/3;
  }
  
  .interestsContainer button{
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  #interest1{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("img/pattern1.png");
    background-size: cover;
    
  }
  
  #interest2{
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("img/pattern2.png");
    background-size: cover;
    
  }
  
  #interest3{
   
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("img/pattern3.png");
    background-size: cover;
  }
  
  #interest4{
   
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("img/pattern4.png");
    background-size: cover;
  }

  .imageInterest img{
    width: 400px;
    height: auto;
    
  }

  textarea{
    width: 400px;
    max-width: 400px;
    height:200px;
    max-height: 200px;
  
  }

  #contactSection{
    display: flex;
    margin-top: 100px;
    padding: 0 20%;
    margin-bottom: 75px;
    justify-content: center;
    flex-direction: column;
  }

  #contactSection h2{
    text-align: center;
  }

  .form{
    display: flex;
    justify-content: center;
    
  }
  
}


header{
  background-image: url("img/flowers2.jpg");
  background-size: cover;
  height: 250px;
}

header h1{
  text-align: center;
  margin: 0;

}


nav{
  background-color: rgb(216, 116, 103);
  height: 75px;
  margin: 0;
  margin-bottom: 100px;
  font-family: Work Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.navContainer{
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

nav ul{
  margin: 0;
  padding: 0;
}



nav li a{
  transition-duration: 0.25s;
 
}

nav li a:hover{
  font-size: 1.5em;
 
}

.navContainer li{
  display: flex;
  align-self: center;
}

.navContainer li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}


#infoButton{
  width: 200px;
  height: 50px;
  background-color: rgb(248, 117, 124);
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  transition-duration: 2s; 
  border: none;
}

#infoButton:hover{
  background-color: rgb(255, 153, 158);
  font-size: 1.2em;
}


#projectsSection{
  margin: 50px 0;
  padding: 5%;
  height: 300px;
  background-color: #ffa59c;
}

.containerLine{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.line{
  height: 2px;
  background-color: rgb(207, 141, 158);
  margin-top: 100px;
  width: 75%;

}


input{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px gray;
  margin: 5px;
  padding-left: 5px;
  font-size: 14px;
}


input{
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

textarea{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  border: solid 1px gray;
  font-size: 14px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

.containerSubmit{
  display: grid;
  justify-items: center;
  width: 100%;
}

#submitButton{
  width: 90px;
  height: 50px;
  background-color: rgb(216, 116, 103);
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  transition-duration: 2s; 
}

#submitButton:hover{
  background-color: rgb(255, 172, 158);
  font-size: 1.2em;
}

#contactSection{
  display: flex;
  margin-top: 50px;
  padding: 0 20%;
  margin-bottom: 100px;
  justify-content: center;
  flex-direction: column;


}

#contactSection h2{
  text-align: center;
  
}

.form{
  display: flex;
  justify-content: center;
  background-image: url("img/pattern6.png");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer{
  font-family: Work Sans, Helvetica, Arial, sans-serif;
  background-color: rgb(216, 116, 103);
  height: 50px;
  font-weight: 700;
  color: white;
  display:flex;
  justify-content: center;
}


.textFooter{
  align-self: center;
}

